.bg { 
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(/images/chewbacca_riding_a_giant_squirrel_and_killing_nazis.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.5;
}

h1 {
	font-size: 50px;
	text-shadow: 0 1px 2px #fff;
	padding: 0 10px;
}

ul.numbers {
	list-style: none;
	height: 100px;
	padding: 0;
	margin: auto;
}

ul.numbers li {
	display: inline-block;
	width: 7%;
	height: 50px;
	background: rgba(255, 255, 255, 0.3);
	margin: 0.5%;
	padding: 0;
	text-align: center;
	line-height: 50px;
	font-size: 40px;
	font-weight: bold;
	border-radius: 5px;
	color: #333;
	text-shadow: 0 1px #fff;
	cursor: pointer;
}

.content {
	position: relative;
	color: #333;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
}

a {
	color: #00B7FF;
}

.clear {
	clear: both;
}

.directions {
	padding: 20px;
	margin: auto;
	background: rgba(255, 255, 255, 0.3);
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 35px;
	text-shadow: 0 1px #fff;
}

.directions.description {
	background: rgba(0, 0, 0, 0.8);
	color: #ccc;
	text-shadow: none;
}

.graph-container {
	position: absolute;
	bottom: 50px;
	width: 100%;
	height: 250px;
}

.graph {
	width: 100%;
	height: 250px;
}
